<div class="card-deck">
    <div class=" card text-white bg-primary mb-3">
        <div class="card-header">Courses</div>
        <div class="card-body">
          <h5 class="card-title">Courses</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/courses" class="card-link text-primary btn btn-light">Overview</a>
        </div>
      </div>
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Instructors</div>
        <div class="card-body">
          <h5 class="card-title">Instructors</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/instructors" class="card-link text-primary btn btn-light">Overview</a>
        </div>
      </div>
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Students</div>
        <div class="card-body">
          <h5 class="card-title">Students</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/students" class="card-link text-primary btn btn-light">Overview</a>
        </div>
      </div>
</div>
