<ul class="list-group">
  <li class="list-group-item font-weight-bold active">Student</li>
  <li class="list-group-item" *ngIf="student">{{ student.attributes.name }}</li>
  <li class="list-group-item font-weight-bold">First Name</li>
  <li class="list-group-item" *ngIf="student">{{ student.attributes.field_first_name }}</li>
  <li class="list-group-item font-weight-bold">Courses</li>
  <li class="list-group-item" *ngFor="let course of courses"><a routerLink="/course/{{course.id}}">{{
    course.attributes.name }}</a></li>
</ul>
<button *ngIf="student" type="button" [routerLink]="['/student/edit', student.id ]" class="btn btn-primary mt-3">Edit</button>
<button *ngIf="student" type="button" (click)="onDelete()" class="btn btn-danger mt-3 ml-2">Delete</button>